
h1 {
  font-size: 5.625em;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', sans-serif;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  padding: 30px;
}

h3 {
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
  color: #CE1212; /*#CE1212; #CE1212 */
}

h4 {
  font-weight: bold;
}

a {
  color: #EF5253;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #CE1212;
}

p {
  line-height: 2;
  font-size: 1.2rem;
}

span {
  color: #CE1212;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: gray;
  width: 5%;
  margin: 50px auto;
  background-color: transparent;
}

body {
  color: #40514e;
  text-align: center;
  font-family: "Raleway";
}

footer {
  background-color: #66BFBF;
}

/* title */

.top-container {
  background-color: #f4d474; /*f4d474; EEEBDD*/
  position: relative;
  padding: 7% 15%;
}

.title-name {
  font-size: 5.625em;
  font-weight: 600;
  font-family: 'Sacramento', sans-serif;
  color: #000;
  line-height: 2;
}

@media (max-width: 800px) {
  .title-name {
    line-height: 1.5;
  }
}

.profile {
  padding: 5rem;
}

.img-profile {
  border-radius: 100%;
  width: 25%;
  height: 25%;
  min-width: 200px;
}

.intro {
  width: 40%;
  margin: auto;
}

@media (max-width: 800px) {
  .intro {
  width: 60%;
  margin: auto;
  }
}

#subtitle {
  font-weight: normal;
}

.item {
  font-family: "Raleway";
  color: #000;
}
/* ######################### */

.middle-container {
  /* margin: 100px 0; */
  position: relative;
}

#experience {
  background-color: #f4d474;
}
.exp-section {
  text-align: left;
}

@media (max-width: 800px) {
  .exp-section {
    text-align: center;
  }
}

.experience {
  padding: 5% 0;
}

.skills {
  margin: 5% 0;
}
.exp-row {
  margin: 2% 0;
}
.exp-title {
  color: #CE1212;
}

.exp-subtit {
  font-size: 1rem;
}

.exp-desc {
  font-size: 1.2rem;
  margin: 3% 0;
}

.borderless {
  border: none;
  font-size: 1.2rem;
}

.skill-eval {
  float: right;
  color: #EF5253;
}

.bottom-container {
  background-color: #f4d474;
  position: relative;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-text {
  clear: both;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #EF5253, #CE1212);
  background-image: -moz-linear-gradient(top, #EF5253, #CE1212);
  background-image: -ms-linear-gradient(top, #EF5253, #CE1212);
  background-image: -o-linear-gradient(top, #EF5253, #CE1212);
  background-image: -webkit-gradient(to bottom, #EF5253, #CE1212);
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
}

.footer-link {
  color: #CE1212;
  font-family: 'Montserrat', sans-serif;
  /* line-height: 2; */
  margin: auto 30px;
  text-decoration: none;
}

.footer-link:hover {
  color: #000;
}

.credits {
  color: #000;
  font-size: 0.75rem;
}

