
h1 {
  font-size: 5.625em;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', sans-serif;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}
span {
  text-decoration: underline;
}

body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #e4f9f5;
  position: relative;
}

.bottom-container {
  background-color: #e4f9f5;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 30%;
  bottom: 300px;
}

.mountain {
  width: 50%;
}

.img-profile {
  border-radius: 100%;
  width: 25%;
  height: 25%;
}

.img-section {
  border-radius: 100%;
  width: 25%;
  float: left;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-text {
  line-height: 2;
}

#subtitle {
  font-weight: normal;
}