
h1 {
  font-size: 5.625em;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', sans-serif;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

p {
  line-height: 2;
}

span {
  text-decoration: underline;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: gray;
  width: 5%;
  margin: 100px auto;
  /* background-color: transparent; */
}

body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

footer {
  background-color: #66BFBF;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  position: relative;
}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mountain {
  width: 50%;
}

.img-profile {
  border-radius: 100%;
  width: 25%;
  height: 25%;
}

.intro {
  width: 30%;
  margin: auto;
}

.img-ed {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.img-prog {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.img-run {
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-text {
  clear: both;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  /* line-height: 2; */
  margin: auto 30px;
  text-decoration: none;
}

.footer-link:hover {
  color: #eaf6f6;
}

.credits {
  color: #eaf6f6;
  font-size: 0.75rem;
}

#subtitle {
  font-weight: normal;
}