body {
  background-color: #EAF6F6;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: gray;
  width: 10%;
  background-color: transparent;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

img {
  border-radius: 100%;
}